.img-dice {
  width: 120px;
  background: aliceblue;
  border-radius: 20px;
  animation: roll 0.3s ease-in-out;
}

.text {
  color: #fff;
}

@keyframes roll {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0);
  }
}
